$primary_color : #DD514C;
$darker_primary_color : #963531;

$secondary_color: #F7F2E2;

$second_bg_color: #F9C65E;


$font_color: white;
$transparent_color_light: rgba(255, 255, 255, 0.530);
$transparent_color_dark: rgba(51, 51, 51, 0.530);

$second_font_color: #333333;

$third_bg_color: #7E89BE;

$last_button_color_hover: #3c797e;
$last_button_color: #95C5C8;

$footer_color: #24201E;

$icon_colors: #3b3735;

$last_background:rgb(141, 153, 198);