@keyframes progress-animation_42 {
    from {
      --progress: 0;
    }
    to {
      --progress: 42;
    }
  }

  @keyframes progress-animation_73 {
    from {
      --progress: 0;
    }
    to {
      --progress: 73;
    }
  }

  @keyframes progress-animation_85 {
    from {
      --progress: 0;
    }
    to {
      --progress: 85;
    }
  }

  @keyframes progress-animation_93 {
    from {
      --progress: 0;
    }
    to {
      --progress: 93;
    }
  }