@import './colors';
@import './mixins';
@import './fonts';
@import './breakpoints';

.sidebar {
    position: fixed; /* or absolute/relative depending on your layout */
    top: 0;
    left: 0;
    width: 300px; /* adjust as needed */
    height: 100%; /* adjust as needed */
    background-color: $secondary_color;
    color: white; /* text color */
    z-index: 1000; /* very high z-index value to ensure it's on top */
  }

.sidebar_responsive{
    display: none;
}